body {
  background: radial-gradient(
    343px at 46.3% 47.5%,
    rgb(242, 242, 242) 0%,
    rgb(241, 241, 241) 72.9%
  );
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App h1 {
  color: #f97562;
  text-align: center;
  padding: 5px;
}

.App a {
  color: #3d655d;
}

.App-header {
  margin-top: 30px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
