.Dictionary h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #d988bc;
}

.Dictionary section {
  background: #f0f1b3;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 15px;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  border: 1px solid #ddd;
  color: #333;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
